@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
}

main.apresentacao{
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.apresentacao_de_conteudo{
    width: 36.9vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1.titulo{
    font-size: 49px;
    font-family: "Krona One", sans-serif;
}

p.paragrafo_da_apresentacao{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

strong.destaque_do_titulo{
    color: #419b18;
}

div.links{
    display: flex;
    justify-content: space-between;

}

a.link_do_botao{
    background-color: #419b18;
    border-radius: 16px;
    width: 230px;
    height: 79px;
    text-align: center;
    font-size: 24px;
    padding: 21.5px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    object-fit: cover;
}

img{
    max-width: 60vw;
    max-height: 60vh;
    width: auto;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1150px){
    main.apresentacao{
        min-height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
    }
    section.apresentacao_de_conteudo{
        flex-direction: column;
        gap: 20px;
        max-width: 90%;
        margin: 0 auto;
    }
    h1.titulo{
        font-size: 14px;
        text-align: center;
    }
    p.paragrafo_da_apresentacao{
        font-size: 10.5px;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    div.links{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    a.link_do_botao{
        font-size: 18px;
        width: 150px;
        height: 35px;
        padding: 8px;
    }
    img.foto{
        width: 15vw;
        height: auto;
        height: 10vh;
        object-fit: cover;
    }

}