@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
}

main.apresentacao{
    margin: 10% 15%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.apresentacao_de_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 150px;
}

h1.titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

p.paragrafo_da_apresentacao{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

strong.destaque_do_titulo{
    color: #419b18;
}

div.links{
    display: flex;
    justify-content: space-between;

}

a.link_do_botao{
    background-color: #419b18;
    border-radius: 16px;
    width: 280px;
    height: 79px;
    text-align: center;
    font-size: 24px;
    padding: 21.5px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

img{
    max-width: 420px;
    max-height: 420px;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-right: 150px;
}