*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
}

main.apresentacao{
    margin: 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.apresentacao_de_conteudo{
    width: 615px;
}

h1.titulo{
    font-size: 36px;
}

p.paragrafo_da_apresentacao{
    font-size: 24px;
}

strong.destaque_do_titulo{
    color: #419b18;
}

a.github{
    padding: 0px;
}

a.instagram{
    padding: 0px;
}

img{
    max-width: 420px;
    max-height: 420px;
    width: auto;
    height: auto;
}